# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\florian.bouchez\Documents\EPSI\MSPR-Inté-Continue\epsi-mspr-ci-cd-rh-app\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
